@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e0f7fa;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container{
    font-family: Arial;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ad-cards-container{
  padding-top: 25px;
  padding-right: 150px;
  padding-left: 150px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px; 
  width: 100%;
  overflow-y: scroll;
}

.card-box {
  border: 1px solid #000;
  padding: 5px;
  text-align: center;
  width: 270px;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 5px 6px rgba(0,0,0,0.1);
  padding: 15px;
}

.search-sort-container {
  border: 2px solid black;
  padding: 5px;
  position: static;
  width: 250px;
  height:70px;
  align-items: center;
  margin: auto;
  box-shadow: 0 0 4px white ;
  border-color: black;
}

.container {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  min-width: 50%;
  justify-content: center;
  align-items: flex-start;
  padding: 0.2%;
}

.search-box {
  height:20px;
  width: 400px;
  font-size:13pt;
  text-align: center;
  background-color: white;
}

#sort-text {
  color: black;
  font-size: 12pt;
}

#sort-box {
  height: 20px;
  font-size: 11pt;
  padding: 0.2%;
  margin-left: 2%;
  background-color: gray;
}